name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build-windows:
    runs-on: windows-2022
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Cache cargo registry
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: Cargo build
        run: cargo build --verbose --release

      - name: Run unitypackage_util help
        run: |
          ./target/release/unitypackage_util.exe --help

      - name: Prepare artifacts
        run: |
          $TARGET = "unitypackage_util-windows-x86_64"
          New-Item -ItemType Directory -Force -Path $TARGET
          Copy-Item LICENSE "$TARGET/unitypackage_util-License.txt"
          Copy-Item target/release/unitypackage_util.exe "$TARGET/unitypackage_util-windows-x86_64.exe"
          Compress-Archive -Path $TARGET -DestinationPath "$TARGET.zip"

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            unitypackage_util-windows-x86_64.zip
            unitypackage_util-windows-x86_64/unitypackage_util-License.txt

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: unitypackage_util-windows-x86_64
          path: unitypackage_util-windows-x86_64/*
